
table, td, th {
    border: 3px solid black;
    border-collapse: collapse;
}
table p {
    text-align: center;
}
table {
    background-color: rgb(211, 208, 208);
}
body {
    background-image: url(../media/background.png);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
td img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
td {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
th {
    padding: 20px;
    font-size: 15pt;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
caption {
    font-size: 20pt;
    font-weight: bolder;
    margin-bottom: 10px;
} 

#references {
    font-size: 13pt;
    background-color: rgb(211, 208, 208);
    text-align: center;
    width: 300px;
    margin: auto;
    padding-right: 70px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    border: 3px solid black;
}
#references li {
    list-style-type: none;
}
#references p {
    font-weight: bold;
    font-size: 17pt;
}
#references a {
    color: rgb(7, 129, 89);
}
