body {
    color: white;
    background-color: rgb(22, 20, 20);
    
}

#navbar {
    background-color: rgb(22, 20, 20);
    overflow: hidden;
    padding-bottom: 1%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar ul {
    list-style: none;
}

#navbar li {
    border-right: 1px white solid;
    float: right;
    padding: 2% 4%;
    font-size: 200%;
    
}

#navbar li:first-child {
    border-right: none;
  }

#logo {
    float: left;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
    font-size: 230%;
}

#stuff img {
    padding-top: 8%;
    width: 98.8vw;
    height: 30vw;
}

body {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 300%;
    font-weight: normal;
    padding-top: 5%;
    padding-bottom: 1%;
}

#stuff h2{
    text-align: center;
    font-size: 200%;
    font-weight: normal;
    
}

#who-am-i {
    display: flex;
}

#column {
    flex: 50%;
}

#column img{
    width: 40vw;
    padding-left: 10%;
    
 }

#column p {
    font-size: 150%;
    padding-right: 10%;
    padding-top: 20%;
    width: 40vw;
}

#what-i-do {
    padding-bottom: 7%;
}

#what-i-do img {
    width: 20rem;
    height: 15rem;
}

#what-i-do p {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1.14rem;
}

table {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact {
    text-align: center;
}

input {
    padding: 1%;
    margin-bottom: 1.3%;
    background-color: rgb(49, 44, 44);
    font-size: 1.5rem;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 60%;
}

::placeholder {
    font-size: 1.3rem;
    color:#ffffff;
}

textarea {
    padding: 1%;
    font-size: 1.5rem;
    color: #ffffff;
    width: 62%;
    height: 14rem;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: rgb(49, 44, 44);
    resize: none;
  }


  
