body {
    color: white;
    background-color: rgb(22, 20, 20);
    
}

#navbar {
    background-color: rgb(22, 20, 20);
    overflow: hidden;
    padding-bottom: 1%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar ul {
    list-style: none;
}

#navbar li {
    border-right: 1px white solid;
    float: right;
    padding: 2% 4%;
    font-size: 200%;
    
}

#navbar li:first-child {
    border-right: none;
  }

#logo {
    float: left;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
    font-size: 230%;
}

#stuff img {
    padding-top: 8%;
    width: 98.8vw;
    height: 30vw;
}

body {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 300%;
    font-weight: normal;
    padding-top: 5%;
    padding-bottom: 1%;
}

h2{
    text-align: center;
    font-size: 200%;
    font-weight: normal;
}

#who-am-i {
    display: flex;
}

#column {
    flex: 50%;
}

#column img{
    width: 30vw;
    height: 30vw;
    padding-left: 20%;
    padding-top: 0;
 }

#column p {
    font-size: 1.5rem;
    width: 30vw;
    
    padding-left: 10%;
    padding-right: 10%;
}

#what-i-do {
    padding-bottom: 7%;
    padding-left: 4%;
    padding-right: 4%;
}

#what-i-do img {
    width: 25vw;
    height: 15rem;
}

#what-i-do p {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1.14rem;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact {
    text-align: center;
}

input {
    padding: 1%;
    margin-bottom: 1.3%;
    background-color: rgb(49, 44, 44);
    font-size: 1.5rem;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 60%;
}

::placeholder {
    font-size: 1.3rem;
    color:#ffffff;
}

textarea {
    padding: 1%;
    font-size: 1.5rem;
    color: #ffffff;
    width: 62%;
    height: 14rem;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: rgb(49, 44, 44);
    resize: none;
  }

button {
    margin-top: 1.3%;
    padding: .8% 5% .8% 5%;
    border: none;
    border-radius: 6px;
    background-color: rgb(58, 80, 206);
    font-size: 1.5rem;
    color: #ffffff;
}

#footer {
    margin-top: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(49, 44, 44);
}

#footer table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer td {
    width: 10%;
}

#info {
    font-size: 1.5rem;
}

#flogo {
    font-style: bold;
    font-size: 3rem;
}

i {
    padding-right: 3%;
}

a {
    text-decoration: none;
}

#projects {
    padding-top: 5%;
}

#projects img {
    width: 23vw;
    height: 15vw;
    border-radius: 10px;
}

#projects td {
    padding-top: 5%;
}

#projects table{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

#projects p{
    padding-left: 2%;
    padding-right: 2%;
}
  
